# Dependencies
node_modules
drools-kie
extras

# Build output
dist
build

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Editor directories
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
